<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lucasduete.github.io.mobilehub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobilehub-api.herokuapp.com"
                    android:path="/login"
                    android:scheme="mobilehub.login.oauth2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RepositoryActivity"
            android:label="@string/title_activity_repository"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListRepositoriesActivity"
            android:label="@string/title_activity_list_repositories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IssueActivity"
            android:label="@string/title_activity_issue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListIssueActivity"
            android:label="@string/title_activity_list_issue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListStarsActivity"
            android:label="@string/title_activity_list_stars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FilesActivity"
            android:label="@string/title_activity_files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>